# See http://help.github.com/ignore-files/ for more about ignoring files.


# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

#bagunca_cors
Default/
ThirdPartyModuleList64/
SwReporter/
ZxcvbnData/
SSLErrorAssistant/
Subresource Filter/
AutoFillStates/
hyphen-data/
AutoFillRegex/
BrowserMetrics/
browserMetrics-spare.pma
CertificateRevocation/
Crashpad/
Crowd Deny/
DesktopSharingHub/
FileTypePolicies/
First Run
Floc/
CrashpadMetrics-active.pma
GrShaderCache/
Last Browser
Last Version
Local State
Module Info Cache
OnDeviceHeadSuggestModel/
OriginTrials/
pnacl/
Safe Browsing Cookies
Safe Browsing Cookies-journal
Safe Browsing/
SafetyTips/
ShaderCache/
