<div class="card" id="telaLogin">
  <div class="card-body" id="fundo">
    <form>
      <div class="mb-3">
        <label class="form-label">Login</label>
        <input
          type="email"
          class="form-control"
          id=""
          aria-describedby="emailHelp"
          placeholder="Informe seu email"
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Senha</label>
        <input
          type="password"
          class="form-control"
          id=""
          placeholder="Insira sua senha"
          placement="right"
          ngbTooltip="A senha precisa ter no minimo 6 caracteres"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
